html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
    background-color: #e0e8ff;
   
    margin: 0;
    font-family: "Red Hat Display", sans-serif;
  width: 500px;
  margin: 0 auto;
  }

  #card {
    position: relative;
    background-color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 350px;
    height: 525px;
    border-radius: 20px;
    margin: auto;
    transform: translateY(60px);
  }

  #top-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0px 0px 0px 0px;
  }

  #flex-item {
    display: flex;
    align-items: center;
  }

  #flex-item a {
    padding-left: 100px;
    color: #3829e0;
    font-size: medium;
    font-style: italic;
  }

  #flex-item a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #7c6efc;
  }

  #flex-item h4,
  #flex-item p {
    margin: 0;
    font-size: medium;
    padding-left: 50px;
    
  }

  #flex-item h4 {
    padding-bottom: 5px;
  }

  #button {
    padding: 1.6rem 5rem;
  }
  
  button {
    font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  font-size: small;
  color: white;
  border-radius: 50px;
  border-style: none;
  background-color: #3829e0;
  box-shadow: 10px 10px 7px 3px #e0e8ff;
  cursor: pointer;
  height: 50px;
  width: 200px;
  }

  button:hover {
    background-color: #7c6efc;
  }

  h3 {
    font-weight: 900;
    color: #7280a7;
    font-size: smaller;
    padding: 0;
  }

  h3:hover {
    cursor: pointer;
    color: #1f2f56;
  }